.image-list-container {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif !important;
}

.image-list {
  width: 20%;
  overflow-y: scroll;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}

.listClass {
  margin-bottom: 10px;
  position: relative;
  background-color: rgb(195 187 187 / 50%);
  backface-visibility: 20%;
  padding: 10px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 10px;
  color: rgb(8, 8, 8);
}
.active {
  margin-bottom: 10px;
  position: relative;
  background-color: #0071e3 !important;
  backface-visibility: 20%;
  padding: 10px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 10px;
  color: white;
}
.listClass:hover {
  margin-bottom: 10px;
  position: relative;
  background-color: #0071e3;
  backface-visibility: 20%;
  padding: 10px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 10px;
  transition: transform 0.2s ease-out;
  transform: translateX(1%);
  color: white;
}

.image-name {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 400;
}

/* .image-name::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transition: transform 0.2s ease-out;
} */

.selected .image-name::before {
  transform: translateY(-50%) rotate(45deg);
}

.selected .image-name {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.selected {
  cursor: default;
}

.selected .image-name:hover {
  background-color: #f5f5f5;
}

.selected-image {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  align-items: center;
}

.selected-image h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  height: 400px;
  margin: 10px;
}
.reportDiv {
  /* display: flex !important; */
  /* justify-content: center; */
  width: 40%;
  position: relative;
  display: inline-block;
}
.reportButton1 {
  background-color: #3582c2 !important;
  backface-visibility: 20%;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  height: 50px;
}
.reportButton {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
  margin: 20px;
  margin-left: 30%;
  background-color: #f55d42 !important;
  backface-visibility: 20%;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  width: 60%;
  justify-content: left;
  font-size: 14px !important;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.reportButtonWrapper {
  position: relative;
  display: inline-block;
}

.additionalButtons {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
  background: transparent;
  z-index: 10;
  width: 100%;
  /* background-color: white; or any color you prefer */
  /* border: 1px solid #ccc; optional: for a border around the additional buttons */
  /* border-radius: 4px; optional: for rounded corners */
}

.reportDiv:hover .additionalButtons {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.reportButtonWrapper:hover .additionalButtons {
  display: block;
}

.additionalButtons button {
  display: block;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 12px;
  border: none; /* removes border from buttons */
  background-color: transparent; /* makes buttons transparent */
}
